@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: sourse sans pro;
    padding-left: 200px;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 20px;
    box-shadow: #ddd;
    padding: 40px 50px;
    padding-left: 55px;
    margin: 60px;
}

.date {
    font-size: 12px;
    color: #777;
    text-align: left;
}

h1 {
    text-align: center;
    font-weight:bolder;
    font-size: 0px 50px 50px;
    font-family: abril fatface;
}

h2 {
    font-family: roboto slab;
}

li {
    color: #777;
    display: inline-block;
    list-style-type: none;
    padding: 0px 10px;
    font-size: 10px;
}

nav {
    border-top: solid black;
    border-bottom: solid black;
    border-color: #777;
}

h5 {
    color: #dd3232;
}

p {
    padding: 50px;
    font-size: 15px;
    text-align:justify;
}

main p {
    border-bottom: solid;
    border-color: #777;
}

.first-pic {
    width: 700px;
    display: flex;
    justify-content: center;
}

#tabs, #caffeine {
    display: inline-block;
    width: 330px;
}

.more-articles p {
    text-align: justify;
    padding: 23px
}